<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 myColumn"></div>
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="col-md-4 myColumn">
                <div class="col-md-6 form-group">
                    <label class="active" for="startDate">Data inizio</label>
                    <input class= "form-control" id= "startDate" type="datetime-local" ngModel name="startDate" required #startDate="ngModel">
                    <span class="help-block" *ngIf="!startDate.valid && startDate.touched">Inserisci una data</span>
                </div>
                <div class="col-md-6 form-group">
                    <label class="active" for="endDate">Data fine</label>
                    <input class= "form-control" id= "endDate" type="datetime-local" ngModel name="endDate" required #endDate="ngModel">
                    <span class="help-block" *ngIf="!endDate.valid && endDate.touched">Inserisci una data</span>
                </div>
            </div>
            <div class="col-md-2 myColumn">
                <button type="submit" class="btn btn-light" [disabled]="!f.valid">Cerca</button>
            </div>
        </form>
            <div class="col-md-3 myColumn"></div>
    </div>
    <div class="row" *ngIf="submitted">
        <div class="col-md-2 myColumn"></div>
        <div class="col-md-6 myColumn">
            <hr>
            <p>Auto disponibili per il periodo <b>{{ f.value.stardDate }}</b> - <b>{{ f.value.endDate }}</b></p>
        </div>
    </div>
</div>

  <div class="container-fluid">
  <div class="row" *ngIf="booked">
    <h1 id="success">Veicolo <b>{{vehiclesArray[position].modelId.manufacturerId.name + " " + vehiclesArray[position].modelId.name + " " + vehiclesArray[position].id}}</b> prenotato con successo</h1>
  </div>
  <div class="row myRow" *ngIf="!booked">
    <div class="col-md-4 vehicle" *ngFor="let in of vehiclesArray;let i = index">
      <p id="vehicleName">{{vehiclesArray[i].modelId.manufacturerId.name}} {{vehiclesArray[i].modelId.name}}</p>
      <p>Targa: {{vehiclesArray[i].id}}</p>
      <p>Anno: {{vehiclesArray[i].modelId.yearProd}}</p>
      <p>Alimentazione: {{vehiclesArray[i].fuel}}</p>
      <a (click)="newBooking(i)" id="prenota">Prenota</a>
    </div>
  </div>
</div>
