<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 logo">
            <img src="../../assets/images/E3.png" alt="E3 Logo" class="img-responsive"> 
        </div>
        <div class="col-md-2 myNavigationBar" id="nome">
                <p>Admin</p>
        </div>
        <div class="col-md-8 myNavigationBar">
            <div class="col-md-2">
                <button routerLinkActive="active" routerLink="newBookingAdmin">Nuova prenotazione</button>              
            </div>
            <div class="col-md-2">
                <button routerLinkActive="active" routerLink="bookings">Prenotazioni</button>
            </div>
            <div class="col-md-2">
                <button routerLinkActive="active" routerLink="vehicles">Veicoli</button>
            </div>
            <div class="col-md-2">
                <button routerLinkActive="active" routerLink="employees">Dipendenti</button>
            </div>
            <div class="col-md-2">
                <button routerLink="/login">Logout</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>